= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag    'kit_demo_dummy/main/application', media: 'all'
= stylesheet_link_tag    'kit_demo_dummy/main/vendor',      media: 'all'

= javascript_include_tag 'kit_demo_dummy/main/application'
= javascript_include_tag 'kit_demo_dummy/main/vendor'

= render Kit::Domain::Components::MetaComponent.new(router_request: router_request)

link rel="icon" href=image_url(t('kit_demo.main.app.logo'))
