= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag    'kit_demo_dummy/main/vendor',      media: 'all'
= stylesheet_link_tag    'kit_demo_dummy/main/application', media: 'all'

= javascript_include_tag 'kit_demo_dummy/main/vendor'
= javascript_include_tag 'kit_demo_dummy/main/application'

= render Kit::ViewComponents::Components::MetaComponent.new(router_request: router_request)

= render Kit::ViewComponents::Components::JsEnvComponent.new(router_request: router_request)
= render Kit::ViewComponents::Components::Analytics::GoogleComponent.new(router_request: router_request)

= render Kit::ViewComponents::Components::FaviconComponent.new(router_request: router_request, i18n_prefix: 'kit_demo.main')
