= render KitDemo::Main::Components::UI::Headers::DefaultComponent.new(**args.merge(no_border: true, no_background: true))

= render KitDemo::Main::Components::Pages::Landing::HomeBlocks::HeroComponent.new

= render KitDemo::Main::Components::UI::Footers::DefaultComponent.new(**args.merge(no_border: true, no_background: true))
