= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag    'application', media: 'all'
= stylesheet_link_tag    'vendor',      media: 'all'

= javascript_include_tag 'application'
= javascript_include_tag 'vendor'

link rel="icon" href=image_url('kit_demo/main/brand/logo.kit_demo.svg')
