= csrf_meta_tags
= csp_meta_tag

= stylesheet_link_tag    'application', media: 'all'
= stylesheet_link_tag    'vendor',      media: 'all'

= javascript_include_tag 'application'
= javascript_include_tag 'vendor'

= render Kit::Domain::Components::MetaComponent.new(router_request: router_request)

= render Kit::Domain::Components::JsEnvComponent.new(router_request: router_request)
= render Kit::Domain::Components::Analytics::GoogleComponent.new(router_request: router_request)

= render Kit::Domain::Components::FaviconComponent.new(router_request: router_request, i18n_prefix: 'kit_demo.main')
